{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}


{# On vérifie qu'une image soit bien associée à l'annonce #}

{% if advert.image is not null %}
<p>
    <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
</p>
   <p>
       {{ advert.image.alt }}

   </p>
{% endif %}