{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1> Mon premier Twig !</h1>

<h2> Salut {#}{ nom }#} !</h2>

<h3> {#}{ url }#}</h3>
<p>
   Page Accueil de votre plateforme d'annonces
</p>

<p>

</p>
</body>
</html>
